Options -Indexes

<FilesMatch "\.(env^|sql^|log^|md^|zip^|bak^|txt^|ini^|sh^)$">
    Require all denied
</FilesMatch>

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule (app|storage|database|admin|_backup)/ - [F,L]
</IfModule>
